body {
    margin: 0px;
    font-family: 'Oswald', sans-serif,Verdana, Tahoma, sans-serif;
  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}
 .line {
    text-align: center;
    font-size:50px;
    color: white;
    animation:slide;
    animation-iteration-count:1;
    animation-duration:8s;
    
}

@keyframes slide{
from{margin-left:80%;}
to{margin-right:0%;}
}


h1 {
    text-align: center;
    color: white;
    
}
h2 {

    text-align: center;
    color: white;
    font-size:40px;
}
.navbar {
    padding-top: 10px;
}
.navbar ul   {
list-style:none;
background-color:black;
padding-top: 10px;
padding-bottom: 10px;
margin:10;
border-radius:100px;
overflow: hidden;
}
.navbar a {
    font-size: 40px;
    color:white;
    text-decoration:none;
    display: block;
    text-align:center;
    padding: 20px;
    margin-left: 20 px;
    margin-left: 20 px;
    border-color: white;
    border-radius:100px;
}
.navbar a:hover {
    background-color: white;
    color: palevioletred;
}
.navbar li {
    float: left;
    
}






#heroslika_1 {
    height:auto;
    width: 900 px;
     position:relative;
     left:3%;
     right: 5;
     top: 30%;
     border-radius: 2%;
    }
#uvodnitag{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    padding: 20px;
    margin: 20px;
}
.opcije {
    text-decoration: none;
}
.opcije li  {
    animation:slide;
    animation-iteration-count:1;
    animation-duration:8s;
    animation-delay:8s;
    height: 200px;
    width: 800px;
    color: palevioletred;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 50px;
    background-color: white;
    padding: 24px;
    margin: 40px;
}
#slikap_1 {
   float: left;
   height: 200px;
   width: 300px;
   border-radius: 25%;

}
#slikap_2 {
    float: left;
    height: 200px;
    width: 300px;
    border-radius: 25%;
 }
 







.proizvodi{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    column-gap: 30px; ;
    row-gap: 35px;
}
.proizvodi{
    font-size: 30px;
    text-align: center;
    color:palevioletred;
}
.box{
    background-color:white;
    border-color:palevioletred ;
    border-width: 1px;
    border: 300px,300px,500px,500px;
    border-radius: 30px;
    padding: 20px;
}
.box a{
    text-decoration: none;
        color: white;
        border-style: solid;
        border-color:black;
        border-width: 2px;
        border-radius: 15%;
        background-color:palevioletred;
        padding: 10px;

}
.telefoni_slike{
    float:right;
    margin: 60px;
    width: 300px;
    height: 300px;
    border-radius: 2%;
}









.kontaktstil {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: 10px;
    
}
.popunavanjeforme {
    width: 400px;
    height: 50px;

}
 #popuniformu{
    width: 400px;
    height: 300px;

}
#slika2 {
    float:right;
    margin: 60px;
    width: 400px;
    height: 500px;
    border-radius: 2%;
}






    .boxy{
        width: 800px;
        height: 250px;
        background-color:white;
        border-color:palevioletred ;
        border-width: 1px;
        border: auto;
        border-radius: 30px;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        color:white;
        margin-left: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .boxy a{
        text-decoration: none;
        color: white;
        border-style: solid;
        border-color:black;
        border-width: 2px;
        border-radius: 15%;
        background-color:palevioletred;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    
    
    
    
    .kupistil{

        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 10px;
        animation:slide;
        animation-iteration-count:1;
        animation-duration:8s;
    }
    .kup_popuni_forme{
        width: 400px;
        height: 50px;
    }
    button{ 
        height: 50px;
        width:100px;
        color: white;
        background-color:palevioletred;
        border-color:white;
        font-size: 30px;
        border-style: solid;
        border-radius: 15%;
    }
    #Menjatemo{ 
       margin-left: 80px;
        height: 50px;
        width:100px;
        color: white;
        background-color:palevioletred;
        border-color:black;
        font-size: 30px;
        border-style: solid;
        border-radius: 15%;
    }




    
    .popravkastil{

        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        margin: 10px;
        animation:slide;
        animation-iteration-count:1;
        animation-duration:8s;
    }
    .popravkaforme{
        width: 400px;
        height: 50px;
    }
    button{ 
        height: 50px;
        width:100px;
        color: white;
        background-color:palevioletred;
        border-color:black;
        font-size: 30px;
        border-style: solid;
        border-radius: 15%;
    }

    